body {
    background-color: #000000;
    color: #A0A0A0;
    line-height: 1.3em;
}

h1 {
    color: #29FF00;
}

h2 {
    color: #65A758;
}

h3 {
    color: #CD6A97;
}

h3.aside_header {
    color: #656590;
}

a:link {
    color: hsl(35, 70%, 70%);
}

a:visited {
    color: hsl(35, 50%, 50%);
}

a:hover {
    color: hsl(35, 90%, 90%);
}

a:active {
    color: hsl(35, 100%, 100%);
}

#podcast {
    float: right;
    padding: 0 5em;
}
