

body {
    background-color: #000000;
    color: #A0A0A0;
    line-height: 1.3em;
}

article, aside, footer, header, hgroup, nav, section {
    display: block;     
}

h1 {
    background-color: #5982AC;
    color: #000000;
    text-shadow: 2px 2px 2px #A67D53;
    text-align: center;
    padding: 1em;
    font-size: 5em;
    font-family: 'Playfair Display', serif;
}

h2 {
    color: #29FF00;
    letter-spacing: 0.1em;
}

h3 {
    color: #CD6A97;
}

h3.aside_header {
    color: #656590;
}

a:link {
    color: hsl(35, 70%, 70%);
}

a:visited {
    color: hsl(35, 50%, 50%);
}

a:hover {
    color: hsl(35, 90%, 90%);
}

a:active {
    color: hsl(35, 100%, 100%);
}

#podcast {
    float: right;
    padding: 0 5em;
}

.float_right{
    float: right;
}